aside.sidebar {
  position: fixed;
  height: 100%;
  padding: 3.2rem 2.4rem; /* 32px 24px */
  background: url("../images/fundo.png");

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;  
  border: none;
  background:  #79503e;
  border-radius: 1.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 200ms;
}  

aside.sidebar footer button:hover {
  background: #2d1917;
}

.with-sidebar {
  padding-left: 110px;
}